.locLogo{
  width:40%;
  height: 40%;
  margin-top: 40px;
}
.siteWrapper{
  font-family: 'Karla', sans-serif;
}
.message{
  color: white;
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  background-color: navy;
}
.dateLine{
  font-size: 2em;
}
.emailMK{
  margin-top: 20px;
  border-radius: 25px;
}
a{
  color:white;
}
.btn-lg{
  border-radius: 25px;
  background-color: red;
}
.emailLink{
  color: white;
  font-size: 1em;
}
.emailLink:hover{
  color: lightgrey;
}
.tableSect{
  margin-top: 100px;
  background-color: navy;
}
.tableHeader{
  font-size: 4em;
  color: white;
  padding-top: 25px;
  margin-bottom: 25px;
}
th{
  font-size: 1.5em;
}
td{
  font-size: 1em;
}
footer{
  height:100px;
  font-size: 1.75em;
  padding-top: 25px;
  color:#f841bf;
}
.mkLink{
  color:darkgrey;
}
